<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>footer</title>
</head>
<body>
    <h1>aaaa</h1>
    
<footer class="bg-white dark:bg-cyan-500">
    <div class="grid grid-cols-2 gap-8 px-6 py-8 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Company</h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4">
                    <a href="#" class=" hover:underline dark:text-white">About</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline dark:text-white">Careers</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline dark:text-white">Brand Center</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline dark:text-white">Blog</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-white">Social Media</h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4">
                    <a href="#" class="hover:underline dark:text-white">Facebook</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline dark:text-white">Instegram</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline dark:text-white">Twitter</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline dark:text-white"></a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400"></h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4">
                    <a href="#" class="hover:underline"></a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline"></a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline"></a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400"></h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4">
                    <a href="#" class="hover:underline"></a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline"></a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline"></a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline"></a>
                </li>
            </ul>
        </div>
    </div>
    
    </div>
</footer>

</body>
</html>